body {
    font-family: 'Roboto Mono';
    background-color: black;
}

#container {
    width: 1500px;
    height: 700px;
    background-color: #212121;
    /*margin: 20px auto;	*/
}

#calc {
    width: 400px;
    height: 550px;
    background-color: #0d7377;
    margin: 0 auto;
    top: 70px;
    position: relative;
    border-radius: 5px;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

#screen {
    height: 100px;
    width: 370px;
    background-color: #d0e8f2;
    top: 10px;
    position: relative;
    margin: 0 auto;
    /*border-radius: 5px:;*/
}

#history {
    text-align: right;
    height: 10px;
    margin: 5px 8px;
    padding-top: 20px;
    font-size: 15px;
    /*color: #919191;*/
    background-color: #919191;
}

#result {
    text-align: right;
    height: 60px;
    margin: 9px 9px;
    font-size: 30px;
    background-color: #ffe5b9;
    padding-top: 1px;
}

#keyboard {
    height: 400px;
    top: 5px;
    background-color: #32e0c4;
    position: relative;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), /*0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.operator, .number, .empty {
    width: 70px;
    height: 45px;
    margin: 10px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
    /*padding: 10px;*/
    margin-top: 25px;
}

.number {
    background-color: #32e0c4;
}

.empty {
    background-color: #32e0c4;
}

.number, .operator {
    cursor: pointer;
}

.operator:active, .number:active {
    font-size: 13px;
}

.operator {
    background-color: #28abb9;
}

.operator:hover {
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/*.operator:focus, .number:focus, .empty:focus{*/
/*outline: 0;*/
/*}*/
/*button:nth-child(4){
	font-size: 20px;
	background-color: #20b2aa;
}
button:nth-child(8){
	font-size: 20px;
	background-color: #ffa500;
}
button:nth-child(12){
	font-size: 20px;
	background-color: #f08080;
}
button:nth-child(16){
	font-size: 20px;
	background-color: #7d93e0;
}
button:nth-child(20){
	font-size: 20px;
	background-color: #9477af;
}*/
